[2015-11-11 15:33] tbreloff opened #1 "Move planning/organizational discussions here"
See:
- https://github.com/JuliaStats/Roadmap.jl/issues/11
- https://github.com/svs14/Orchestra.jl/issues/4
- https://github.com/Evizero/LearnBase.jl/issues

[2015-11-11 15:39] Evizero opened #2 "Logo"
Not the most pressing of issues, but I felt like giving it the idea a shot.

It's supposed to resemble clustering, but it may have been better in my head :-). Also I would like to mention that it is derived from the original logo. I don't know if that causes issues

![tst](https://cloud.githubusercontent.com/assets/10854026/11099765/7c46d464-88ad-11e5-8ef9-4d8bf5ce4daa.png)

[2015-11-11 15:53] tbreloff opened #3 "Org name"
It seems like the name change to JuliaLearn didn't change the URL.  Which name do people prefer?  Is it worth the hassle?

[2015-11-11 15:56] Evizero commented on #3
what's wrong with JuliaML? I think the name is pretty descriptive

[2015-11-11 16:04] tbreloff commented on #3
To be fair, ML is obvious to you, but not necessarily to others.  It also nicely includes deep learning, which many like to distinguish from machine learning for some reason.  In the end it's a matter of preference, and I prefer to avoid acronyms if possible.

[2015-11-11 17:00] ViralBShah commented on #3
I see - I just changed the name, but what I need to do is rename the repo. Let's leave it as is for now - and see what others have to say.

[2015-11-11 17:05] ViralBShah commented on #2
Looks like a good start and better than the generic one.

[2015-11-11 19:01] Evizero commented on #1
To get things going I propose to move [ValueHistories.jl](https://github.com/Evizero/ValueHistories.jl) here. It's already functional and in METADATA (which I think shouldn't be a problem for ownership transfer?) and it fits to the spirit of this org. I would still take responsibility for maintenance.

[2015-11-11 20:24] Evizero commented on #1
Concerning mailing list: I think we should probably piggyback on the julia-stats mailing-list instead of  julia-users (which is currently set as mail address for the org)

[2015-11-11 20:49] tbreloff commented on #2
Building on your idea @Evizero:

![tmp](https://cloud.githubusercontent.com/assets/933338/11102636/acc79c8a-888b-11e5-8051-c0012c0d3c83.png)

[2015-11-11 21:22] tbreloff commented on #2
Actually this is a little cleaner:

![tmp](https://cloud.githubusercontent.com/assets/933338/11103428/511a9c98-8890-11e5-964a-995cb4c12f4a.png)

[2015-11-11 21:37] StefanKarpinski commented on #2
Nice.

[2015-11-11 21:53] tbreloff commented on #2
If anyone's curious how it was made (or if you want to tweak it), here it is: https://github.com/tbreloff/ExamplePlots.jl/blob/master/examples/ml_logo.ipynb

[2015-11-12 03:27] ViralBShah commented on #1
We should probably move some of the JuliaStats ML repos here too.

[2015-11-12 03:43] tbreloff commented on #1
Some potential candidates for moving here from JuliaStats:
- Lora
- Clustering
- MLBase
- SVM
- PGM

In addition, I think it would be great to start a wiki/webpage with some summary info on the currently available packages, with information on maturity, status (abandoned, well maintained, etc), and a list of features/algorithms.  Should we use the wiki in this repo, or maybe start a website like h

[2015-11-12 05:24] tbreloff commented on #3
I changed it back to JuliaML... I think it's fine, unless there's agreement among the community that it should be changed.

[2015-11-12 05:24] #3 closed

[2015-11-12 06:34] ViralBShah commented on #1
Ping @simonbyrne and @johnmyleswhite

[2015-11-12 09:04] simonbyrne commented on #1
I think the decision of whether to move a package should be up to the package maintainers, or in the case of unmaintained packages, only if JuliaML is willing to take over maintenance.

[2015-11-12 09:41] ViralBShah commented on #1
Of course - I was only referring to the ones in JuliaStats. Perhaps having them here instead of JuliaStats might increase the likelihood of maintenance.

[2015-11-12 16:12] tbreloff opened #4 "Best of breed"
I'd like to maintain a "best of breed" list of the most mature/maintained packages to accomplish various tasks (decision trees, data handling, post-fit analysis, or whatever else).  Ideally we could also produce a "workbench" type of package which re-exports lots of good packages, pylab-style.  Someone could do:

[code]

and have all the best vetted packages ready to go.

[2015-11-12 16:29] Evizero commented on #1
I would volunteer to actively maintain MLBase.jl (if you'll have me). I'll make an effort to maintain it's original author's style in terms of being minimalistic and in terms of how the code is structured and commented

My plan for it would be:
- Make sure it defines all the verbs for all common metric (such as the missing `accuracy` from that [PR](https://github.com/JuliaStats/MLBase.jl/pull/14))

[2015-11-13 04:12] ViralBShah commented on #4
Great idea.

[2015-11-14 22:24] simonbyrne commented on #1
@Evizero I'm not particularly familiar with that package, but that seems like a good candidate to move. Perhaps open an issue in the repo? Requests to take over maintenance are viewed more kindly when accompanied with pull requests.

[2015-11-16 18:14] Evizero commented on #1
@simonbyrne I generally agree with you, but in this case I rather wait for Prof. Dahua Lin's opinion on this instead of prematurely putting work into a PR. Maybe he feels like MLBase should remain as it is now, I don't know. As far as I can tell he is the main author, so it's his decision.

The general idea is this: I am not desperately looking for work, but I do want to devote some of my spare ti

[2015-11-16 18:16] Evizero commented on #1
Concerning moving repos here. In the meantime it might be a good idea to fork some of the really mature and currently maintained packages (for visibility).

Edit: I forked Mocha.jl, SVMLightLoader.jl, and MLKernels.jl. These are the ones I have confidence in are mature and up to date, or am actively working with myself

[2015-11-16 21:31] Evizero commented on #1
By the way, JuliaML kinda aims in the direction of the umbrella Org that was proposed by @pluskid at the [JuliaStats roadmap](https://github.com/JuliaStats/Roadmap.jl/issues/11#issuecomment-147104338). It might be a good point in time to continue that conversation now. Given the importance of deep learning, it should undoubtedly be a focus of us as well. I know I will be more active in that area o

[2015-11-23 04:47] pluskid commented on #1
I just came across this repo: https://github.com/JackDunnNZ/uci-data
It looks quite useful. Probably should add to our list of packages (if someone could test a bit to see e.g. the compatibility with latest Julia).

[2015-11-23 09:55] Evizero commented on #1
Interesting. I'll take a closer look at it in about a week or two. Datasets are complicated. One has to be careful with licensing issues

[2016-02-01 14:09] tbreloff opened #5 "MLPlots"
I'm thinking about moving [MLPlots](https://github.com/tbreloff/MLPlots.jl) here.  The idea is that MLPlots is a collection of recipes for ML visualization, and recipes are loaded dynamically (with the Requires package) based on what other packages you are using.  As an example, you can visualize a neural net state in OnlineAI, or plot the history from the ValueHistories package.

Any reservations

[2016-02-01 14:10] Evizero commented on #5
+1

[2016-02-01 14:12] Evizero commented on #5
Maybe we should flag it as being _"in development"_ for now?

[2016-02-01 14:18] tbreloff commented on #5
Yes it's certainly a work in progress, but it's "WIP: more visualizations needed" as opposed to "WIP: unusable".  My hope is that people can start to use it and add their own recipes (or at least those that they think other people will want to use).  This should be something that many from the community have a hand in... not just me.

[2016-02-01 14:22] Evizero commented on #5
No objections here. The whole org is a WIP currently anyhow. baby steps

[2016-02-12 21:28] tbreloff commented on #5
This is done: https://github.com/JuliaML/MLPlots.jl

I hope more people want to contribute cool recipes now!! :+1:

[2016-02-12 21:28] #5 closed

[2016-04-06 18:36] paulhendricks opened #6 "Move MachineLearningMetrics.jl into JuliaML"
@tbreloff Would there be any interest in moving MachineLearningMetrics.jl into JuliaML? I would even consider renaming it MLMetrics, which is more succinct.

[2016-04-06 18:37] paulhendricks commented on #6
Link: https://github.com/paulhendricks/MachineLearningMetrics.jl

[2016-04-06 18:50] tbreloff commented on #6
Yes... I think that's a good idea.  (I was going to suggest it, but didn't want to pressure you)

@Evizero do you have an opinion on how the package fits in?

Also MLMetrics sounds good and fits with the pattern.

Thanks @paulhendricks!

[2016-04-06 19:07] Evizero commented on #6
This looks great! Thanks for putting in the effort. I am also in favour of the name MLMetrics.

You mentioned that you followed sklearn. Did you by any means look at the code while doing that? If so you should include that in your license.

[2016-04-06 19:15] paulhendricks commented on #6
I did not look at the source code; I merely drew inspiration from the API around y_true and y_pred and what type of metrics are offered. There are way more regression metrics and classification metrics in MachineLearningMetrics.jl than in sklearn.metrics.

I took most of the classification metrics from here: https://en.wikipedia.org/wiki/Precision_and_recall

[2016-04-06 19:17] paulhendricks commented on #6
I certainly have no problem including them in the license though.

[2016-04-07 05:43] Evizero commented on #6
I don't think that will be necessary then. I'm just covering the bases here :-).

I think you package would be a great addition

[2016-04-07 13:41] tbreloff commented on #4
For anyone following this repo... what are the must-have machine learning packages that you use?   What are you working on?

Going back to this "MLWorkbench" idea... it would be cool if the design was somewhat similar to Plots.  A clean and easy-to-use interface with lots of functionality, which then calls down to machine learning "backends" of every type.  Similar to Gadfly, PyPlot, etc, all of t

[2016-04-07 14:01] paulhendricks commented on #6
@Evizero Awesome!

What does the process of moving MLMetrics into JuliaML look like?

[2016-04-08 17:05] Evizero commented on #6
it's already registered under MachineLearningMetrics, isn't it? In this case I don't think we even can rename it.

[2016-04-09 06:21] Evizero commented on #6
Ok, so I invited you to be part of the team. Welcome!

Concerning the move: Two steps basically. First you move it to JuliaML (which is under the repository settings somewhere) and then you need to change the URL entry in METADATA to point at the new location (and submit a PR there with that change respectively)

[2016-04-11 14:58] paulhendricks commented on #6
@Evizero @tbreloff I've moved the package into JuliaML. I have an issue open to see if we can change names since it's extremely new, very niche, and I would imagine current adoption is next to none. If that's not possible, we'll just change the url entry in metadata to point at the new location in JuliaML.

[2016-04-11 15:01] Evizero commented on #6
nice

[2016-04-11 15:03] paulhendricks commented on #6
Yup. See here for open issue: https://github.com/JuliaLang/METADATA.jl/issues/4951

[2016-06-27 01:59] ahwillia opened #7 "MLModels and MLTransformations"
Can we start prototyping the `MLModels` package? Did we decide that this package would contain both definitions of Transformations and implementations of `deriv`, `prox`, `grad`, etc.?

I put a prototype repo here: https://github.com/ahwillia/MLTransformations.jl

(I would be happy to prototype within JuliaML, but wasn't sure whether you would prefer me start elsewhere an migrate packages in once

[2016-06-27 03:46] tbreloff commented on #7
Thanks for the example code. It really helps to understand. I don't have
time now for a full analysis but here's a few thoughts:
- Once we decide that we want a repo and we agree on the scope/intentions,
  I think it should be developed in JuliaML. We can mark it WIP in the
  readme.
- we talked about MLModels encompassing transformations and losses, and I
  think agreed there wouldn't be a need f

[2016-06-27 05:38] ahwillia commented on #7
I don't necessarily see a problem with using `transform` as a noun in a mathematical setting (https://en.wikipedia.org/wiki/List_of_transforms). But using it as a verb would be consistent with scikitlearn, which is a plus in my book, and you're right that `apply` is too general.

I like the functor idea for simple transformations like logs, but maybe less so for learned transformations.

[code]

T

[2016-06-27 06:30] Evizero commented on #7
https://github.com/Evizero/MLModels.jl exists and I will move it within this week to JuliaML. Just some housekeeping left to do there that I would like to finish before

Concerning verbs: I see it is still up to debate. Let us create an issue at the new LearnBase and put it to a vote? If no one beats me to it I shall do that on the weekend

(Sorry for the short reply but this week (except Wednesda

[2016-06-27 10:44] tbreloff commented on #7
We can have a generic definition:

call(t::Transformation, args...; kw...) = transform(t, args...; kw...)

Then use whichever makes more sense contextually.

Verbs we will flesh out in another thread, but I like 'learn' precisely
because it's not commonly used for either stats or ML. It also makes lots
of sense to 'learn' as the core activity in 'LearnBase'.

On Monday, June 27, 2016, Christof Sto

[2016-06-27 10:49] Evizero commented on #7
I actually had the `call` sugar implemented for losses but that syntax is deprecated, so I removed it. That said AFAIK there will be an alternative way to allow for `myobject(...)` in the future, which I agree we should make use of

[2016-06-27 20:29] tbreloff opened #8 "Verbs, revisited... and much more"
This has been discussed repeatedly, but it's important to get right if we want widespread adoption.  Some references:

https://github.com/Evizero/MLModels.jl/issues/3
https://github.com/JuliaOpt/Optim.jl/pull/87
https://github.com/JuliaStats/Roadmap.jl/issues/15
https://github.com/JuliaStats/Roadmap.jl/issues/4
https://github.com/JuliaStats/Roadmap.jl/issues/20

(there are more linked in those iss

[2016-06-27 20:56] ahwillia commented on #8
Thanks for consolidating the discussion here. Brief thoughts:
- +1 for `rand` for sampling from a generative model.
- I am fully supportive of using `learn` at this stage. As I've said elsewhere, I think we should push forward an hopefully converge and coordinate better with StatsBase at some stage.
- Do we need `StaticTransformation` and `LearnableTransformation` to be a types? Why not query it a

[2016-06-27 20:57] ahwillia commented on #7
Closing as this seems superseded by discussion here: https://github.com/JuliaML/Roadmap.jl/issues/8

[2016-06-27 20:57] #7 closed

[2016-06-27 21:27] datnamer commented on #8
cc: @jmxpearson and @dmbates

Also for the dag and parallelism:   https://github.com/MikeInnes/Flow.jl, https://github.com/JuliaParallel/Dagger.jl

[2016-06-28 01:12] joshday commented on #8
+1 to just about everything.  Thanks for the nice summary.  My minor comments:
- I would vote against using `solve`.  Mostly because it's for solving a linear system in R, but also because it sounds more general than `optimize` to me.
- Some transformations can be done in place and I think we should add `transform!`.  Maybe this would only be a method for `StaticTransformation`s?  Speaking of whic

[2016-06-28 01:26] tbreloff commented on #8
I was looking for the reasoning for ParameterLoss, and came across this: https://github.com/Evizero/MLModels.jl/issues/12.  I'm adding it to the first comment, as the concept of "Transformation Pipelines" is integral to why I care about this stuff.  I really want to have a uniform interface to every learning module so that I can build an algorithm to optimize evolution of a directed graph of stati

[2016-06-28 01:31] tbreloff commented on #8
Can you describe exactly what you mean by learning algorithm?  Examples?  How does this overlap with what we're doing in StochasticOptimization.jl?

:+1: Me too

No toe stepping possible... we're gonna need all the help we can get.  Fork the repos, and submit PRs for what your working on.  Lets all be ok with PRs getting changed or scrapped if the group doesn't agree with the direction.

[2016-06-28 01:50] ahwillia commented on #8
I don't have a particularly strong opinion. But would we also want `InvertibleTransformation` then? When is a feature implemented by a trait/query vs. something that merits a new type? My gut says to keep the number of types as low as possible until we develop further. But I trust @tbreloff and his pipeline vision on this :)

 I agree, but I could live with ParameterLoss for now at least.

This is

[2016-06-28 01:59] joshday commented on #8
- Is `Penalty` prohibitive to the idea of pipelines?  @tbreloff How are you using `ParameterLoss`?
- There are multiple algorithms to do say, Linear regression with LASSO.   It be nice to have `learn` methods that allow using either proximal gradient method or coordinate descent.  Whatever the syntax ends up being, I'd like to do

[code]

- Good question.  Good comment.  Maybe let's see where we g

[2016-06-28 02:00] tbreloff commented on #8
I like `LearningAlgorithm` as well, assuming we're talking about the "outer loop" of a solver.  Though I don't totally love `ParameterUpdater`, I feel like it describes it's purpose really well.  A `LearningAlgorithm` knows how to iterate through data and, at each iteration, ask a `ParameterUpdater` to, well, update its parameters.

I think a `LearningAlgorithm` knows how to `optimize` a connected

[2016-06-28 02:04] jmxpearson commented on #8
I'll reiterate something I said over lunch on Friday: I think what you
ultimately want are traits, not types. It's simply too hard to subsume all
statistical and ML modes in a coherent type system. Such a taxonomy doesn't
exist now, and you'd be peering into a crystal ball for the future. It's
inherently fragile.

On the other hand, it's not too hard to ask whether a model can be sampled
from, fit

[2016-06-28 02:09] tbreloff commented on #8
`Penalty` and `ParameterLoss` refer to the same thing.  I like the symmetry that there are "loss components" and "loss functions".  To be honest, I think `Cost` makes a little more sense, but I remember @Evizero giving some reason which convinced me to go with `Loss` (don't remember what).  My goal is simply to keep simple themes and symmetry, so that someone in another field will still "get it".

[2016-06-28 02:38] joshday commented on #8
I think that's my issue with ParameterLoss.  Many problems are constructed as `f(param) + g(param)` where `f` is "loss" and `g` is "penalty".  Both are functions of the parameter and it may be unclear which is called ParameterLoss.

[2016-06-28 05:35] ahwillia commented on #8
To further @joshday's point -- `ModelLoss` could also be misinterpreted as a loss or penalty on the model complexity, whereas what we mean is something like `PredictiveLoss` (i.e. a loss on model performance).

In general, I think `Loss` is understood to apply to performance while `Penalty` (or maybe `Regularizer`) is a term that penalizes model complexity. I think we should also consider adding `

[2016-06-28 06:58] tbreloff commented on #8
Great. I'm happy to attempt to subtype directly from AbstractLoss and see
how far we can get.  I also wonder if we can accept splatted losses in the
'learn!' method:

learn!(t::Transformation, input_data, losses::AbstractLoss...)

Is there a more general term than loss that would include predictive
loss/cost, penalties/regularizers, and constraints?

On Tuesday, June 28, 2016, Alex Williams notifi

[2016-06-28 07:42] Evizero commented on #8
Concerning naming of the losses. I started out with `Loss` and `Penalty` but we went into this direction because we then decided to go with descriptive names. I am open to changing it back.

We absolutely need a baseclass for algorithm. Right now I call it `Optimizer` in the [placeholder code](https://github.com/JuliaML/LearnBase.jl/blob/master/src/LearnBase.jl#L71). I do not like the idea of maki

[2016-06-28 07:52] Evizero commented on #8
How do you mean? If one wants to be able to dispatch on regression vs classification (which I feel very strongly about) there absolutely must be a `MarginLoss` and `DistanceLoss` distinction.

[2016-06-28 13:06] joshday commented on #8
`MarginLoss` and `DistanceLoss` could live in MLModels.  I want to dispatch on these as well, but not everyone will.

[2016-06-28 13:19] tbreloff commented on #8
This is why I want traits. Margin vs distance should be a trait of the
loss. Likewise I could see Penalty as a trait. The difference between these
different loss components is more trait-like than type-like (IMO)

On Tuesday, June 28, 2016, Josh Day notifications@github.com wrote:

[2016-06-28 13:43] Evizero commented on #8
We can put MarginLoss and DistanceLoss into MLModels, but then we should revisit this issue: https://github.com/JuliaML/LearnBase.jl/issues/1

[2016-06-28 13:49] Evizero commented on #8
I disagree there. This to me is one of the few situations where a type tree makes perfect sense. For example, while a general supervised loss can be described as `L(y, yhat)`, a Distance loss can be defined solely  as a function of `L(residual)` where `L(y, yhat) = L(|y - yhat|)`

[2016-06-28 14:30] tbreloff commented on #8
I have a feeling this is where we're going to have to agree to disagree.  This example seems like the perfect example of why "distance vs margin" should be a trait... they're basically the same, except one can be reduced to a simpler form.

Lets forget about losses for a second and think about a hypothetical.  I have shapes that I wish to classify, and each shape has a color.  In my work, I only e

[2016-06-28 15:09] ahwillia commented on #8
**Re: AbstractLoss**

I was thinking `Loss` would only be needed by the optimizer. To combine multiple losses:

[code]

I actually have code that roughly works like this already: https://github.com/ahwillia/ProxAlgs.jl/blob/master/examples/lasso.jl

Can you give a more explicit example where dispatch on the `Loss` is necessary?

[2016-06-28 16:25] Evizero commented on #8
@tbreloff I don't think the color example fits because while red and blue circles are conceptually different they differ by a property value and not by structure. The rectangle vs circle is more fitting since they are structurally different, but is a also a case where I would probably not use a common base class but a common interface instead. why? because they probably don't share actual function

[2016-06-28 16:48] Evizero commented on #8
@ahwillia I am not sure I understand. Please correct me if I misinterpret
- What are you gaining by introducing a tuple?
- If there is no distinction between ModelLoss and ParameterLoss, what happens if I switch the losses around in your example (i.e. in the tuple)? because it would still be legal code that compiles
  - ... if the optimizer uses something like `ispenalty(loss)` to decide what the

[2016-06-28 17:07] Evizero commented on #8
@ahwillia Your code snipped is actually a decent example to me. I would want that code to return a structure that understands what it does. i.e. depending on the loss i give it (with everything else the same)  that structure is either a classifier or a regressor.

Also at some UI level I would like that the interface could make reasonable default domain decisions.
Lets say I want a nice high level

[2016-06-28 17:21] Evizero commented on #8
Another comment to ModelLoss vs ParameterLoss: Personally, I don't think that a penalty should be considered a Loss at all. I'd actually prefer to keep closer to the theory behind it by Ingo Steinwart et al. which is pretty clean, clear, and comprehensive (In which a supervised loss is a function `L(y, yhat)`). A penalty is in my mind just that: "a penalty". It is a function of the coefficient vec

[2016-06-28 17:26] ahwillia commented on #8
Each `Loss` in the tuple would be a term in the objective function. This is a natural way to specify an optimization problem for consensus ADMM -- maybe less so for other optimizers (?). Basically, the optimizer just needs to know `grad(...)` and `prox(...)` on each term in the objective function. It doesn't care about whether the term is a penalty on model performance or on complexity. (By the wa

[2016-06-28 17:38] Evizero commented on #8
Oh I see. Yes in terms of thinking about the problem purely as an optimization problem that does make sense.

Well, from a programming perspective thought this seems like a difficult abstraction to implement on a low-level. a `ModelLoss` is a function of `f(y, yhat)` while a `ParameterLoss` is a function of `f(w)`. How could one treat them equally?

[2016-06-28 17:50] ahwillia commented on #8
What makes it tricky is online/stochastic optimization. For offline optimization, both can be thought of as `f(w)`. From my ProxAlgs prototype package (here `A => X` and `B => Y` in our conversation):

[code]

Basically, when you create the loss, you pass the whole dataset to it. This works really well so long as the data isn't astronomically large (which is an important case).

[2016-06-28 19:17] tbreloff commented on #8
I can't disagree with this, but what I'd like is to abstract that these are just components of an objective function.

I like `PerformanceLoss`, which gets closer to the truth, but I'm still not sold that we **need** those branches of a type tree in order to dispatch correctly.  If we can dispatch on the trait instead of the type, I think it opens up to cleaner abstractions (like in my shape examp

[2016-06-28 21:23] tbreloff commented on #8
Something I haven't really focused on, but which is important to me:  I want to be able to frame reinforcement learning problems in this paradigm as well, which can be thought of like:
- Learning to maximize a perpetual sum of discounted future rewards (or minimize the negative rewards)
- Transforming (state+input) into (action)

I think adding this to the mix helps me to expand the abstractions:

[2016-06-28 21:43] Evizero commented on #8
@ahwillia I like this very much and I think it should exist, but it should not be the "lowest level" of our implementation for a Loss. A supervised loss itself just cares about `y` and `yhat`, nothing else, no data, no prediction model, nothing. I think that is very important.

But it could make a lot of sense to create this `CachedLeastSquares` which internally utilizes a `L2DistLoss`, or more ge

[2016-06-28 21:50] ahwillia commented on #8
I like a lot of this. A few nitpicks.

This is a bit strange to me. A stochastic transformation taking no inputs does not seem like a transformation to me at all. If we do keep this, then I propose the following tweaks:
- **To determine whether there are inputs:** ~~`is_source`~~ ... instead use  `is_generative`
- **To determine whether stochastic:** `is_stochastic`

@Evizero - I agree 100%

[2016-06-28 21:50] Evizero commented on #8
@tbreloff +100. Type instability and messy code (both in the package as well as on the user side) are my main concerns, and pretty much the reason why I am so in favour of the Loss type tree. If there is a truly good way to do it differently I am all ears

[2016-06-28 22:03] tbreloff commented on #8
As I said earlier, I would consider it "transforming nothing into something".  That's kinda cheating, but worth it if we can unify everything under a single abstraction.

The concept I'd like to separate... can we generate output values stochastically?  This would include distributions, but also transformations that have a stochastic component (for example an affine transformation plus normally-di

[2016-06-28 22:26] ahwillia commented on #8
Stochastic does not imply generative to me. `Y = A*X + randn(size(Y))` is a stochastic linear transformation of `X -> Y`, but it is not generative since I need to tell you `X`.

One thing we are missing, which I think is crucial, is an abstract type for a `RandomVariable`. Combining this with `Transformation` would more or less give us a full graphical framework to specify any model (https://en.wi

[2016-06-28 23:01] tbreloff commented on #8
Alex I give a tentative thumbs up. I need to think this through and review
PGM theory before I agree that's what we want.

On Tuesday, June 28, 2016, Alex Williams notifications@github.com wrote:

[2016-06-28 23:46] ahwillia commented on #8
I need to think about it too. Maybe we could get @jmxpearson to chime in here, since I think we're starting to converge on something similar to what he implemented in VinDsl.jl

Also see: http://people.csail.mit.edu/dhlin/jubayes/julia_bayes_inference.pdf

And how models are specified in Lora.jl and Mamba.jl: http://mambajl.readthedocs.io/en/latest/tutorial.html#bayesian-linear-regression-model

T

[2016-06-29 00:23] jmxpearson commented on #8
As the Stan development team often points out, there are useful
probabilistic models that are not graphical. Those models, are, however,
often defined by objective functions to be optimized.

I think what we've got in VinDsl was overengineered. It's in drastic need
of simplifying. Once I realized that the _goal_ of much ML research is to
violate the assumptions of previous models in order to impro

[2016-06-29 02:31] cstjean commented on #8
@jmxpearson Sorry if this is off-topic everyone, but what are those non-graphical probabilistic models? Non-parametric models?

[2016-06-29 11:26] jmxpearson commented on #8
I'm not sure what they have in mind, but Markov Random Fields are
undirected graphs and so lack the normal parent/child structure.

More generally, you could have
p(x) = exp(L(x))/Z
and there's no guarantee that L(x) could be naturally decomposed into a sum
of terms corresponding to links in a PGM. For Stan, and for optimization
approaches, all you need is L, which isn't required to have a particu

[2016-06-29 13:20] tbreloff commented on #8
I think there are a lot of conceptual overlaps between what I suggested and PGM, Mamba, and others.  That's a good thing, and is encouraging, since it would be great if there's a path to unifying approaches.  I'm not convinced on the `Transformation` vs `RandomVariable` breakdown though, mainly for implementation/interface reasons.

This means that a neural net, or regression, or decision tree (or

[2016-06-29 13:49] cstjean commented on #8
The big challenge with regards to PGMs is that in general they are structured models. The scikit-learn project made an explicit decision not to support them because the training set cannot be treated as one big uniform matrix. It's not insurmountable, but we'd have to think about it carefully.

[2016-06-29 17:05] ahwillia commented on #8
Another problem with the PGM approach -- exactly representing arbitrary random variables undergoing arbitrary transformations often becomes intractable rather quickly. This is why sampling is so widespread.

I suggest that we keep it simple and start playing around with a prototype. For me, the biggest win will be to have a single repository that stores loss functions along with derivatives and pr

[2016-06-29 17:18] cstjean commented on #8
+1. Distributions.jl is a good model for that IMHO. It's a single-purpose library, and I like that I don't have to buy into a wider ecosystem to use it.

[2016-06-29 17:33] Evizero commented on #8
All these discussions make me suspect that we all talk about different layers of a complex system (like the `CachedLeastSquares` example).

I think we should break the parts down into atomic units as @cstjean also just suggested.
- I would like to break MLModels.jl up into a SupervisedLosses.jl package that is just concerned with Losses as a function `f(y, yhat)` as they are a well studied concept

[2016-06-29 18:28] tbreloff commented on #8
I don't understand this comment.  `ObjectiveComponent` would be the abstraction which includes many different concepts that might go into an objective function.  Losses and Penalties are included in this list.  Maybe I'm just confused on what `CachedLeastSquares` is.

The idea is that an `ObjectiveFunction` and a `LearnableTransformation` could be combined with a `LearningAlgorithm` and some sort

[2016-06-29 20:15] ahwillia commented on #8
I would support a middle road -- start a repo for both losses and penalties (but no models). I think this is a good model to follow for [Distances.jl](https://github.com/JuliaStats/Distances.jl) and [Distributions.jl](https://github.com/JuliaStats/Distributions.jl). I could contribute to this.

[2016-06-30 03:01] tbreloff commented on #8
Alex when you say "losses and penalties (but no models)"... What exactly do
you mean by a "model" here? If you mean "empirical risk model" and other
standard objective formulas, then I agree (see below).

Regarding common transformations (log transform, activation functions, etc)
I think it would make life easier to also include them in MLModels. We can
bikeshed that name if it helps.

We discusse

[2016-06-30 04:07] ahwillia commented on #8
I'd love to collaborate with @joshday on the stochastic optimization stuff. Seeing as that package will be a consumer of ObjectiveFunctions.jl (a name that I like), I will likely keep tabs on that as well.

[2016-06-30 05:49] ahwillia commented on #8
Another quick note. I updated a prototype for Transformations. I haven't yet included types for `Mapping` and `LearnableTransformation` -- it seems like we might be able to just use traits to distinguish these?

Here is how I might implement static transformations as invertible pairs: https://github.com/ahwillia/MLTransformations.jl/blob/master/src/static.jl#L8

Here is a sketch of stochastic tran

[2016-06-30 06:46] Evizero commented on #8
What does a common base class of `Penalty` and `PredictionLoss` achieve? They share no functionality. They cannot be used interchangeably in any setting as their method signatures for `value`, `grad`, etc. differs completely.

The only thing I can think about that they do share is signatures for properties like `isconvex`, but that doesn't really call for a common base class at all.

If you think

[2016-06-30 06:52] Evizero commented on #8
it makes little sense to me to not include the risk model but include the transformations. That would be very arbitrary. **EDIT:** Arbitrary because that would mean a user would have access to losses and prediction functions but no functionality to connect them.

losses and penalties have little relation really, but I would be ok with that road given that their implementations would actually have

[2016-06-30 08:05] Sisyphuss commented on #8
The scientific term for this issue is: _Structural Risk Minimization_, which is to control at the same time the empirical risk and a penalty controlling the VC-dimension of the set of approximation functions.

The first term is a function of both data and parameters, while the second term is a function of parameters alone. This difference may or may not cause problem when the data arrive in stream

[2016-06-30 08:12] Sisyphuss commented on #8
The term _loss_ refers to the _loss-function_. With a little abuse, it can also indicate the loss of an action (e.g., approximation function) on a single datum or a single random variable.

[2016-06-30 13:12] joshday commented on #8
- I'm happy to work on StochasticOptimization.jl with @ahwillia :+1:
- Can we keep ObjectiveFunctions.jl in MLModels.jl, if only temporarily?  The concrete ObjectiveComponents would be in MLModels.jl, but you wouldn't be able to use them together without ObjectiveFunctions.jl.  What's the use case of someone wanting one but not the other?

[2016-06-30 14:06] ahwillia commented on #8
I guess my view is that:
- (a) `ObjectiveFunctions.jl` is a really good name that will be discoverable by users, while it is not immediately clear what would be in a repo called `MLModels.jl`.
- (b) I'm still not sure how we will decide to represent models/transformations/etc. But I do think I know how to implement `StochasticOptimization.jl` (at least a prototype) that only depends on a repositor

[2016-06-30 14:30] tbreloff commented on #8
I wonder if ObjectiveFunctions.jl should be the repo which contains both an implementation of `ObjectiveFunction` and also the `ObjectiveComponent`s (`Loss`, `Penalty`, etc).  So what is now MLModels would just get renamed to ObjectiveFunctions, and include what would have gone in there.

I think there's good reason to keep transformations in their own repo... MLTransformations.jl is probably a fi

[2016-06-30 14:33] Evizero commented on #8
How about `SupervisedLosses.jl` for the lossfunctions that are currently in MLModels that are a function of `f(y, yhat)`. I feel like they can stand on their own and I don't want to water them down to include something they don't actually need to include (like the data, or the parameters). `ObjectiveFunctions.jl` could then include penalties as well as the things inspired by `CachedLeastSquares` (

[2016-06-30 14:41] Evizero commented on #8
@tbreloff If we do want to describe an objective function in such a way (which I have no opinion on yet) that doesn't mean that we need to poison the low level implementation of the losses. it would be much cleaner to realize this as a separate abstraction layer that builds on a clean implementation of the losses.

[2016-06-30 14:46] Evizero commented on #8
for example (little verbose but makes the point):

[code]

This way we don't discard years of theory for a particular implementation design. I don't see a downside here. The Losses can be used independently of the rest of our framework (for example in a course exercise where students need to implement gradient descent and should investigate the influence of different loss functions on the learning

[2016-06-30 14:51] joshday commented on #8
Really the only parts of JuliaML that OnlineStats/SparseRegression needs is a StructuralRisk type.  I think this definitely needs to live somewhere in JuliaML.

[2016-06-30 15:00] Evizero commented on #8
@tbreloff Thinking about this a little more. A different way to meet both our goals would be to revisit the type tree of the Loss that we previously cut as a compromise to your distaste for type trees.

[code]

in the theory `Cost` would be kinda equivalent to your `ObjectiveComponent` so we could call it such
- `Cost` is a function `f(X, y, c)` where `c` can be anything
- `Loss` is a function `f(

[2016-06-30 15:00] tbreloff commented on #8
@Evizero I can get behind a separate repo for SupervisedLosses.jl, if you feel strongly.  The important part for me is that, when someone wants to use both "generalized objective functions" with a "supervised loss component", that they have the generalized version available.  I think the way to make both of us happy is:

[code]

[2016-06-30 15:06] Evizero commented on #8
@tbreloff I could live with that if we rename the  `Loss` in your snippet to `SupervisedLoss`, which would be more appropriate and leave the future option to implement unsupervised losses as well.

I do not think the last two functions will work out the way you hope they would. The [`EmpiricalRisk` type](https://github.com/Evizero/MLModels.jl/blob/master/src/risk/empiricalrisk.jl) exists for a goo

[2016-06-30 15:26] tbreloff commented on #8
@Evizero I'm happy with this type tree:

[code]

Does that work for you?  I think this should be defined in LearnBase, with concrete implementations elsewhere.

Question: instead of SupervisedLosses.jl, could we call it Losses.jl (or MLLosses), and leave open the potential for including unsupervised losses?

[2016-06-30 15:26] Evizero commented on #8
Another issue with that proposed function signature for `value` is that often algorithms need access to the prediction `yhat` to compute stuff like subgradients (example: https://github.com/Evizero/KSVM.jl/blob/master/src/linear/solver/pegasos.jl#L110).

My point being that it is not a good idea to hide computation like this behind a high level layer that cannot be torn down. We need to allow for

[2016-06-30 15:28] Evizero commented on #8
`MLLosses.jl` for consistency? I guess the double L is weird. I am ok with `Losses.jl` as well

[2016-06-30 15:30] tbreloff commented on #8
I think the real implementation would do this in stages:

[code]

So that you could plug in to the most specific one you need.

I wrote that first, and hated the double-L.

[2016-06-30 15:33] tbreloff commented on #8
Also a real implementation would have corresponding mutating versions:

[code]

but developed with an eye towards whatever performance optimizations someone might want.

[2016-06-30 15:35] Evizero commented on #8
I guess `Losses.jl` would be self-describing enough to not be confused with other areas?

[2016-06-30 16:10] tbreloff commented on #8
Just a quick thought... might be cool to have a repo LearnLab.jl which just re-exports a bunch of the JuliaML ecosystem: losses, optimizers, transformations, etc.  This is what we'd point beginners/users to, and they could later dig into the individual components.

I'm rebuilding the JuliaML.github.io website, so I was thinking if there was a good repo to have as the "public face" of the JuliaML e

[2016-06-30 16:29] ahwillia commented on #8
+1 for Losses.jl (it is shorter and will be easier to find for new users)

I also like the type hierarchy. Who wants to pull the trigger on creating
the repos?
On Jun 30, 2016 9:10 AM, "Tom Breloff" notifications@github.com wrote:

[2016-06-30 16:43] tbreloff commented on #8
Great... I'll take care of the repos.  Do we want to drop the ML prefix across the board?  When we register there might be more discussion about naming, but it would be strange to have the ML prefix for only a subset.

@Evizero Do you still want to move over Evizero/MLModels?  Or should I just create new, blank repos and we can copy code to wherever it makes sense?

Here's what I think we need, ba

[2016-06-30 16:47] joshday commented on #8
I think we should drop the ML.  I think it would likely cause confusion since MLBase exists in JuliaStats.

[2016-06-30 16:53] Evizero commented on #8
@tbreloff https://github.com/Evizero/MLModels.jl will turn into `Losses.jl`, since this was its main focus from the beginning anyway. The bits for `ObjectiveFunctions.jl` we either move there or reimplement.

@joshday MLBase is just one single repo. I don't think there is a good case to make to drop the ML from MLDataUtils, MLKernels (which is outside our influence anyway), MLMetrics.

I suggest w

[2016-06-30 17:00] Evizero commented on #8
@tbreloff in your list of repositories, where would the linear predictor / linear model / linear transformation live?

[2016-06-30 17:02] tbreloff commented on #8
I just added Transformations... did we decide on where something like empirical risk would live?  Maybe MLRecipes or something similar?

[2016-06-30 17:06] Evizero commented on #8
Isn't `ObjectiveFunctions.jl` intended to be a substitution for it? If not (or regardless?) let's make a `MLRisks.jl` package which focuses purely on the Empirical- and Sturctural Risk minimization approach.

[2016-06-30 17:15] tbreloff commented on #8
No... I was thinking ObjectiveFunctions and Transformations would be components of a LearningAlgorithm, and that they'd be separate.

:+1:

[2016-06-30 17:18] Evizero commented on #8
Alright then. This seems like a good first step to act on. I'll take care of `Losses.jl` now (and `MLRisks.jl` later), why don't you go ahead create the others.

[2016-06-30 17:21] tbreloff commented on #8
Ok I'll wait a little bit to hear out any objections, then I'll create:
- ObjectiveFunctions.jl
- Transformations.jl
- LearnLab.jl

Already created:
- LearnBase.jl
- StochasticOptimization.jl

@Evizero will move/create:
- Losses.jl (moved from Evizero/MLModels.jl)
- MLRisk.jl

[2016-06-30 17:26] tbreloff commented on #8
All... please also let me know which packages you want to be involved in, as well as if you want to be a "team lead" (or co-lead) for that package, so we all know who's organizing efforts.

[2016-06-30 17:37] ahwillia commented on #8
I'll try to focus on `StochasticOptimization`, but I imagine this will involve me mucking around with everything else since it depends on basically everything else.

[2016-06-30 17:40] tbreloff commented on #8
@ahwillia understood.  I think you and @joshday should be co-leads of that (if you're both up for it), and I hope you'll be active in other stuff when it makes sense.

[2016-06-30 17:45] Evizero commented on #8
I am sure I will creep around in all said packages a lot.

In terms of Lead. Of core interest to me is `Losses.jl` (which is pretty much fully functional and well tested) and `MLRisks.jl` (which I have most of the code for and just need to wait until Penalties and Predictors are provided). Once those are in place I will finally direct my gaze back to KSVM :)

Since @joshday mentioned that structur

[2016-06-30 17:47] tbreloff commented on #8
Awesome thanks @Evizero.  And I hope you have lots of time for us!

As for me, I think I'd like to lead/co-lead ObjectiveFunctions.jl and Transformations.jl, but of course I want to be involved with everything in some capacity.

[2016-06-30 17:51] cmcbride commented on #8
I'll just pipe in that I'm excited about this work and have been lurking, but actively following, this discussion.

I'm not sure about the LearnLab.jl name, but I like the unifying concept as convenience to loading the ecosystem of the various isolated topics. I don't have any better suggestions yet, though (I've thought of several worse ones).

[2016-06-30 17:56] Evizero commented on #8
and older idea from @tbreloff was MLWorkBench.jl

I'd like to throw some in the mix I can think of
- MLEcosystem.jl
- MLTools.jl
- JuliaML.jl
- MLEnvironment.jl

[2016-06-30 17:58] tbreloff commented on #8
keep it going:
- LearnTools.jl
- LearnBench.jl
- YouAreATool.jl

[2016-06-30 18:12] tbreloff commented on #8
What about just Learn.jl or Learning.jl.  It has nice symmetry with LearnBase.

[2016-06-30 18:31] ahwillia commented on #8
+1 to `MLWorkbench.jl` though I think we should table that discussion until
everything becomes more mature.

I want to put prox ops for penalty functions somewhere over the next day or
two. Is this going in `ObjectiveFunctions.jl` and not `Losses.jl`? I was
under the impression that penalties would go in `Losses`...

On Thu, Jun 30, 2016 at 11:12 AM, Tom Breloff notifications@github.com
wrote:

[2016-06-30 18:33] Evizero commented on #8
agreed

it makes more sense to put the penalties in the same please where the `CachedLeastSquares` substitution also lives.

[2016-06-30 18:39] tbreloff commented on #8
I want to make a placeholder, and literally just add most of JuliaML to the REQUIRE file and re-export the packages.  It would be nothing to maintain, but it would be the easy way for new users to get going without looking at each individual package.  I think we should do it today, and mostly forget about it after (since we wouldn't need to change much there).  I lean towards Learn.jl right now, b

[2016-06-30 18:40] Evizero commented on #8
no, ObjectiveFunctions

[2016-06-30 18:42] Evizero commented on #8
I'm ok with `Learn.jl`

[2016-06-30 18:44] tbreloff commented on #8
Ok I think I understand now.  Yes all penalties would go in ObjectiveFunctions then (which depends on both LearnBase and Losses)

[2016-06-30 18:46] Evizero commented on #8
Another reason why I would like penalties not live in Losses.jl is because they are two different topics really that share no code. I lean more towards the [unix philosophy](https://en.wikipedia.org/wiki/Unix_philosophy#Do_One_Thing_and_Do_It_Well)

[2016-06-30 18:46] tbreloff commented on #8
There is a stub repo here: https://github.com/Rory-Finnegan/Learn.jl

@Rory-Finnegan... do you want to be involved with JuliaML?  Are you ok with us using the Learn.jl name?

[2016-06-30 19:12] rofinn commented on #8
@tbreloff I would like to be involved with JuliaML and feel free to take the Learn.jl name. Let me know if you need me to delete my repo.

[2016-06-30 19:16] tbreloff commented on #8
@Rory-Finnegan: Awesome!  If you haven't already, please read through the discussions and let us know how you'd most like to contribute.  I assume you haven't published Learn.jl to METADATA, right?  If not, then it doesn't matter what you do with your Learn.jl, though it might be good to either put a big notification which links here, or just remove it if you don't care about what's there.  It's t

[2016-06-30 19:21] cmcbride commented on #8
Learn.jl sounds good. So does JuliaML.jl as it maps to this group and the tools in the associated ecosystem. I also like that 'ML' was dropped from the other package names.

[2016-06-30 19:34] tbreloff commented on #8
Guys... I have a preliminary version of the [JuliaML website](juliaml.github.io) up.  The deployment is only slightly convoluted.  I changed the base branch of JuliaML/JuliaML.github.io to be dev, and then I do a "git subtree push" to make the master branch look like it's a static website.  The deploy instructions can be found [here](https://github.com/JuliaML/JuliaML.github.io/blob/dev/mkdocs.yml

[2016-06-30 19:58] tbreloff commented on #8
Learn.jl, ObjectiveFunctions.jl, and Transformations.jl are created.

[2016-06-30 20:03] rofinn commented on #8
I'm not sure what would be most useful for me to contribute to, but I guess a few comments after reading through the discussion are.
1. I'd like the API defined in LearnBase.jl to remain as minimal as possible since we'll probably have an annoying transition period anyways ie: AbstractTypes -> Protocols
2. I like the idea of using terms like `fit!` and `transform` (and I guess also `generate`) rat

[2016-06-30 20:36] ahwillia commented on #8
+1 to this. I think we will continually revisit this topic -- we have a ways to go before this ecosystem becomes mature and we are locked in to the verbs and types.

As a guiding philosophy I would really like to (a) sync up with JuliaStats as much as possible and (b) try to make each package as "standalone" as possible.

The caveat to part (b) is that all packages should depend on LearnBase and p

[2016-06-30 20:41] ahwillia commented on #8
P.S. [Boltzmann.jl](https://github.com/dfdx/Boltzmann.jl) looks very good. We should include @dfdx in these discussions if he is interested!

[2016-06-30 21:06] datnamer commented on #8
@Rory-Finnegan  are protocols a Julia 2.0, as with traits or a 1.0 feature?

[2016-06-30 21:14] tbreloff commented on #8
Obviously we've been through this, but it's worth reminding. We can't use
'fit' and 'predict' without forcing a dependency between LearnBase and
StatsBase, which we don't want to do. I think 'train' is "too ML", and
'learn' hits a sweet spot between disciplines, plus has nice symmetry with
LearnBase.jl/Learn.jl.

I want to have nice parallels with JuliaStats and play nice, and part of
playing nice

[2016-06-30 21:23] rofinn commented on #8
@datnamer my understanding is that interfaces/protocols/traits might make it into 1.0, but that isn't confirmed yet.

@tbreloff I don't think depending on StatsBase would be that bad given that most ML work is built off of stats anyways. However, this might be an argument to work with the JuliaStats community to refactor StatsBase into separate smaller packages.

[2016-06-30 21:27] ahwillia commented on #8
I have come to believe that this should exist. Again, I think something to revisit.

[2016-06-30 22:18] tbreloff commented on #8
Alex: which way would the dependency go and why?

Until there's a real, compelling, functional reason for the dependency, we
shouldn't do it. StatsBase is huge, and more specialized. If you think
StatsBase should be reorganized, the way to do is it to build a lightweight
LearnBase and show how and why StatsBase should be refactored to use
LearnBase's abstractions, or some merged version of LearnBa

[2016-06-30 22:28] ahwillia commented on #8
When I say "revisit" -- I mean revisit down the line. For now, lets see how far we can get by ourselves.

But I'm already finding myself wanting to import a lot of bits and pieces from JuliaStats for the Transformations package.

[code]

[code]

How does this sit with you? This doesn't mean LearnBase needs to depend on StatsBase, but I think it makes sense for a lot of other packages to import fun

[2016-06-30 22:42] tbreloff commented on #8
Ok this is a good point. I'm very confident that I don't want LearnBase to
depend on StatsBase, but that doesn't preclude us from adding dependencies
in other packages. If Transformations is better with a StatsBase dependency
then that's great. But we shouldn't add dependencies to anything lightly.
It might be that the better solution is a link package that converts
Distributions into Transformati

[2016-07-01 00:17] dfdx commented on #8
As far as I understand, it's all about who owns names. Let's take `fit` as an example. If it were defined in Julia's `Base`, we would probably not have this discussion, we would simply extend it - JuliaStats and JuliaML in there own way, meaning essentially the same thing - fitting a model to data. Right?

But since Julia is a general purpose language, `fit` doesn't sound to be a good function nam

[2016-07-01 01:23] tbreloff commented on #8
I agree... it's a very annoying problem that we can't just magically add to a global `fit` method, and that we have to both agree to import the same method.

I think there would be a lot of push back on this idea, at least until JuliaML is more mature and JuliaStats people have reason to be motivated to do a refactor.  Also, I actually **prefer** `transform` and `learn` to `predict` and `fit`... I

[2016-07-01 01:30] ahwillia commented on #8
+1 to this. Though I also understand why there would be pushback.

How heavy is the `StatsBase` dependency really? We seem to be operating under the assumption that it is very bad. I defer to others judgement on this -- but I would like to understand better. In the REPL, `using StatsBase` loads nearly instantaneously for me. Is the problem that it pollutes the namespace?

Presumably, JuliaStats **

[2016-07-01 02:17] cstjean commented on #8
Re. `fit!` coming from StatsBase or LearnBase... `ScikitLearnBase` uses `fit!` and `predict`, but it doesn't import `StatsBase`, so they are separate functions. It makes sense conceptually - for example, GaussianMixtures.jl implements both `ScikitLearnBase.fit!` and `StatsBase.fit!`, and they have different calling conventions. It's a little annoying because there are some ambiguity errors when us

[2016-07-01 05:17] Evizero commented on #8
It is not just about access to the name `fit` though. it is also an implicit contract to use it in the same way. Otherwise our package could not be considered high quality content. In StatsBase the idea of using it to fit a model is with `fit{T}(modeltype::Type{T}, ...)` which I think is not a good choice for us

[2016-07-01 12:04] tbreloff commented on #8
This is a really good point.  We are building a different verb, and it's appropriate to have a different name to avoid confusion.

To me, ambiguity warnings are more than a little annoying... they completely break the package.  Here's an example of what I consider breaking.  I'll call `using` on two modules exporting the same method.  In the first, I've called (and thus compiled) `A.f`, and so aft

[2016-07-01 14:05] ahwillia commented on #8
@tbreloff - I agree we shouldn't use `fit`, etc. unless it is imported from StatsBase

These differences still aren't 100% clear to me. Is it differences in semantic meaning or in the parameters of the function call?

[2016-07-01 15:48] dfdx commented on #8
Actually, I think we need both - `predict` and `transform`. For example, linear discriminant analysis may use `tranform` to map data to a new space and `predict` to classify a new point to one of classes. The same thing applies to conditional RBMs and most likely to a number of other models.

Also, `transform` is already defined in `MultivariateStats`, and I won't be surprised to see `learn` and `

[2016-07-01 15:58] tbreloff commented on #8
@dfdx you make some great points.  I want to quickly respond to this:

Eventually the boundary will disappear (I hope!).  The difference is that JuliaStats is the established organization with a big existing userbase.  It's not practical to "tinker" with the abstractions and implementations of something that many would expect to be fixed and robust.  Everyone in this discussion agrees that we want

[2016-07-01 16:53] tbreloff commented on #8
All: I created a chat room for JuliaML here: https://gitter.im/JuliaML/chat  Sometimes gitter is nicer for "conversations" than issues.

[2016-07-01 18:33] ahwillia opened #9 "List of existing packages and projects"
I want to keep a running list of (relatively mature) machine learning packages in Julia. My reasoning is that (a) we have a lot to learn from each others efforts, and (b) it would be great to coordinate efforts going forward.

Part (b) is of course a bit tricky - having packages that are "standalone" is desirable in many ways. But our vision is that it is also desirable to have these packages (or

[2016-07-01 19:43] cstjean commented on #9
Are you aware of [svaksha's list](https://github.com/svaksha/Julia.jl/blob/master/AI.md#machine-learning)? It might be a good starting point.

[2016-07-01 20:23] ahwillia commented on #9
Thanks @cstjean -- I found some good stuff there. I'm trying to keep this list shorter / more focused than svaksha's. What do you think of SciKitLearn being added? Are its aims closer to MultivariateStats (see the note)?

[2016-07-02 00:29] cstjean commented on #9
Well, it's modelled on the Python scikit-learn, so "a library of canned methods with a consistent API" describes it pretty well. It's up to you if you want to put it on the list. I'm hopeful that ScikitLearn can be an alternative high-level interface to the Learn.jl models.

[2016-07-02 00:47] tbreloff commented on #9
@cstjean funny... I'm hoping that Learn.jl can be an alternative high level interface to the ScikitLearn canned methods.  😮    Can someone write a tree-based graph layout recipe for Plots so I can figure out these dependencies??

[2016-07-02 00:54] ahwillia commented on #9
I think the idea is that most statisticians and data scientists will use SciKitLearn, while Learn.jl will be used by researchers developing new algorithms or tailoring/tuning a model very carefully to a particular application. So it isn't so much about high-level vs. low-level, but ability to customize and tinker. I think Learn.jl will take some getting used to for newcomers, while SciKitLearn mak

[2016-07-02 00:54] Sisyphuss commented on #9
I prefer (not only me) the term "graphical model" to "Bayes Net", because the Bayes net is not necessarily Bayesian. Basically, it's just a graph language for the generative model.

[2016-07-02 01:05] cstjean commented on #9
Why not both! We could have ScikitLearn.jl import LearnBase, and Learn.jl import ScikitLearnBase, so that both frameworks' models are usable in the other. But we don't have to commit to anything at this point; we'll see how Learn.jl develops and do it if it makes sense.

[2016-07-03 02:17] datnamer commented on #9
@ahwillia There are definitely data scientists (me included) interested in specifying custom models through a high level graph type of interface. See pymc 3 for example.

[2016-07-03 11:47] Evizero commented on #9
My core goal is that any researcher / student should be able to switch out any low level part while still being able to use the rest of the highlevel-framework. For example if I were interested in trying out a new Loss, I should be able to write one and still be able to use the rest (such as optimization algorithm and CV) as intended and without performance penalties (so it should be on the same l

[2016-07-27 14:13] tbreloff opened #10 "Reinforcement Learning"
I'm starting to work on a framework for reinforcement learning in https://github.com/tbreloff/Reinforce.jl, and I was thinking it would be nice to include the core abstractions in LearnBase so that I could have standalone environments or agents without requiring a dependency on Reinforce.jl.

I propose adding this to LearnBase:

[code]

Any thoughts/objections?

[2016-07-27 14:19] tbreloff opened #11 "Register LearnBase"
I think we can register LearnBase early, while we're still working through the design of the rest of JuliaML, as then we can add it to the REQUIRE files.  The reason not to register is primarily if we think the design will change drastically from what it is now, which I don't expect.  Thoughts?

[2016-07-27 15:40] ahwillia commented on #10
Looks good to me. I've been wanting to reproduce the basic examples from Sutton and Barto book as a learning exercise - it would be great if I could use what you're working on!

**Edit:** After giving a little more thought... I like this API, but can't think of a reason why they would have to live in LearnBase rather than have Reinforce as a standalone package. I guess it doesn't hurt to have it i

[2016-07-28 21:09] tbreloff commented on #10
I'm going to hold off on this, and keep everything in Reinforce for now.  The interface isn't stable enough and anyone using it would want other things in Reinforce anyways.

[2016-07-28 21:09] #10 closed

[2016-07-30 15:52] Evizero commented on #11
I agree

[2016-08-02 18:08] Evizero commented on #11
is it 0.5 compatible (can't think of a reason why it shouldn't)? I have not upgraded yet, but we should maybe make sure v0.5 works out of the box

[2016-08-02 18:09] Evizero commented on #11
and then go ahead and register. I am currently working on a package where I would already like it in my REQUIRE file

[2016-08-17 18:35] joshday opened #12 "Penalties.jl?"
Maybe it's because I'm unsure of what's going into ObjectiveFunctions.jl, but do we want a Penalties.jl?  My thinking is that penalty implementations are rather straight-forward and we could get something into Metadata sooner than if they are attached to ObjectiveFunctions, which may take more thought to get right.

Side note:  My summer work is ending, so I'll actually start contributing soon.  I

[2016-08-17 18:52] Evizero commented on #12
sounds good to me! I like the small-package-approach.

This is the best interface I think we had so far (which was very heavily based on your implementation with some small changes) was this (disregard the strange inlines - i tested something):

https://github.com/JuliaML/Losses.jl/blob/8f877395c9e46e7232753704b4e686e672b35267/src/loss/abstract.jl#L232-L257
https://github.com/JuliaML/Losses.jl/blo

[2016-08-17 19:08] ahwillia commented on #12
The ObjectiveFunctions repo needs direction. I say go ahead and start making Penalties and I'll try to sync up. Maybe we don't need ObjectiveFunctions, but we need some principled way to combine Losses and Penalties into a model to be optimized.

[2016-08-17 19:12] Evizero commented on #12
Yes, well, I think we are making great progress by solving one problem at a time. Thanks to your and Tom's continuous input, the Losses.jl package is in a pretty good shape already and we can slowly shift our focus on other problems that have to be solved. It seems to me that penalties might be a good next step.

[2016-08-23 04:59] Evizero commented on #11
done

[2016-08-23 04:59] #11 closed

[2016-08-23 07:19] Evizero commented on #8
A little update concerning recent developments in JuliaML.
- [LearnBase.jl](https://github.com/JuliaML/LearnBase.jl) is now registered in METADATA. We decided to extend StatsBase for now.
- [Losses.jl](https://github.com/JuliaML/Losses.jl) will soon be ready. @ahwillia put quite a lot of effort into it recently. We just have to iron out some test issues and then make a PR to METADATA.
- [Penalties

[2016-08-23 07:27] Evizero commented on #2
The current one seems nice and appropriate. I'll close this issue for now until some Picasso comes along and convinces us otherwise

[2016-08-23 07:27] #2 closed

[2016-08-23 07:45] Evizero commented on #1
I will close this issue for now. I have come to appreciate that growing naturally seems to be quite more manageable and less likely to cause friction between communities.

It seems that we evolved more into a "create basic functionality we all need together" community, than a "let's move our current stuff here" group. I consider this a good thing.

[2016-08-23 07:45] #1 closed

[2016-08-23 11:00] tbreloff commented on #11
:tada: Thanks Christof

On Tuesday, August 23, 2016, Christof Stocker notifications@github.com
wrote:

[2016-08-24 15:26] #12 closed

[2016-08-26 19:20] tbreloff opened #13 "Structure of JuliaML"
I was thinking about the structure of JuliaML today.  I don't foresee that I'll have enough bandwidth to properly complete the "tom branch on Transformations", and I'd really like to fill in the missing pieces of JuliaML.  Losses seems pretty much done to me... nice work guys, and thanks @Evizero for getting LearnBase registered.

### Transformations

I think Transformations could revert to being

[2016-08-26 20:04] ahwillia commented on #13
I think the highest priority is to figure out how to merge Losses and Penalties. The only way I see to do this is to actually try building some (simple) models people would like to fit.

### Fitting some basic models

I think GLMs are a great place to start. We could focus on, for example, sparse logistic regression. In the short term, we could start with a basic API:

[code]

Down the line (maybe

[2016-08-27 09:05] Evizero commented on #13
I'm knuckles deep in a different project right now, but let me give a short generic reply that doesn't do your posts any justice. Yet, I want to bring up some points at least in the meantime.
- I don't think we should merge the Losses.jl and Penalties.jl packages without good reason. They can stand alone. There is no upside I can think of. If there are strong opinions on this matter I will take wh

[2016-08-27 16:13] ahwillia commented on #13
It's hard for me to see how Penalties could stand alone. Losses I could perhaps see. Maybe we could consider something like the following down the line?

[code]

I don't think this is high priority though - we can create some "glue code" as you say to start playing with things.

Maybe @joshday can correct me, but I believe you can do e.g. logistic regression with the loss functions we have already

[2016-08-27 16:19] tbreloff commented on #13
I think ObjectiveFunctions and StochasticOptimization should be the
sandboxes

On Saturday, August 27, 2016, Alex Williams notifications@github.com
wrote:

[2016-08-27 17:23] joshday commented on #13
@tbreloff Thanks for writing this up.  This structure sounds great to me.

@ahwillia has constraints in his branch of ObjectiveFunctions that I'd like to add to Penalties.

Fitting GLMs are possible under what we have.  Some of the losses are negative log-likelihoods.

I think it would be rare to see someone using Penalties without Losses, but conceivably someone could do something like import GLM

[2016-08-30 08:34] Evizero opened #14 "Contributing to JuliaML"
I was asked today how one would start contributing to JuliaML and if there is a list somewhere. This is my attempt to start such a list.

Because we are evolving as we go along, it must be quite difficult for a potential new contributor to see what is going on and where to start. Especially since our packages have discussion threads that must take hours to read. Yet, we have functionality that is

[2016-09-14 15:05] ChrisRackauckas commented on #4
I assume that this MLWorkbench idea has now changed names to Learn.jl.

I think what's key for it is to just have lots of functionality to an easy interface to switch algorithms. I don't tend to have a favorite method/package or tweak defaults (at least at first). My machine learning problems in the end boil down to optimizing some function which usually has a high cost (for example, the error in

[2016-09-14 15:10] tbreloff commented on #4
@ChrisRackauckas this is very much my long-term goal.  well said.

[2016-09-14 15:20] Evizero commented on #4
I doubt we will be anywhere this high level in the near future. Lots of basics to get right first.

I think there is a common fallacy that a lot of people think there are reasonable constant defaults to hyper parameters of even simple algorithm, which I claim is untrue. even something simple like lambda for a ridge regression heavily depends on what your data looks like and if you did some normali

[2016-09-14 15:23] Evizero commented on #4
I think we should rather focus on decent heuristics to derive default values based on the data, instead of switching backends. A metapackage like Plots.jl would make more sense to me as a separate high level package

[2016-09-14 15:37] Evizero commented on #4
Re-reading the issue maybe I am missing the point of what Tom intends with the workbench. My recent impression of the goal of Learn.jl was that it should reexport the JuliaML packages as a Metapackage. This issue paints a different picture which seems independent of other JuliaML efforts.

To be clear. To me the recent activity in JuliaML clearly focuses on getting some low level functionality rig

[2016-09-14 15:42] tbreloff commented on #4
agreed

This is an important point.  The Plots-model is consistency in spec/defaults, so that you define your problem from a high level, default hyperparameter values are filled in consistently, and then this problem formulation is translated to a backend calculator.

Again... you nailed it.  My short term focus is designing and building both a high level interface and a low level implementation t

[2016-09-14 15:45] ChrisRackauckas commented on #4
That's the thing: I don't really care about "ill practice" as much as results. I spent some time learning machine learning awhile ago and back then learning the different software and setting up my problem to work with them was interesting. Now, I just want good parameters for an SPDE, or the rates that fit best in a drug interaction model, etc. Whatever gives the best results for the least me-tim

[2016-09-14 16:10] ChrisRackauckas commented on #9
@Evizero  Yes, and the design approach Tom has in mind (and shows in StochasticOptimization) achieves this.

I think the other goal is to have good enough defaults / free cross-validation so that way someone who is researching other topics can easily use a researcher's new tools that they found in a paper, without having to modify anything. That would mean that a researcher would just have to put

[2016-09-14 16:13] tbreloff commented on #9
Yes, probably.  We can hold off on that sort of micro-organization until we have lots of implementations ready to organize.

[2016-09-14 16:24] ChrisRackauckas commented on #9
What's the relation of JuliaOpt to JuliaML, or more specifically Optim.jl to things like Learn.jl? Is one early plan to be able to plug into Optim? How do they differ in scope?

[2016-09-14 16:26] ChrisRackauckas commented on #14
It might be a little ambitious to keep a list of the things to contribute in different packages all here, doubling up with what's likely in the package's issues themselves, and probably getting out of date fast.

[2016-09-14 16:26] tbreloff commented on #9
Undefined at this point.  We know about each other and we'll try to share/collaborate when it makes sense.

[2016-09-14 16:33] ChrisRackauckas commented on #9
Okay. The reason why I ask is I plan on, sometime in the not too far future, making some parameter inference for differential equations packages (discussed in JuliaDiffEq/DifferentialEquations.jl#47) and other things which require machine learning / optimization as a component of the algorithms (it'll probably live in JuliaDiffEq because of its focus). I want to know what to "plug into": Learn.jl,

[2016-09-14 16:39] Evizero commented on #14
Currently it is pretty manageable. We will rethink this as soon as packages become more mature and self sustained

[2016-09-14 19:45] ahwillia commented on #4
Didn't have time to carefully read everyone's comments so hopefully I'm not reiterating.

I like this idea, but I think in practice it will be tricky. Unlike in plotting, where different backends have more or less the same goals, different machine learning backends (e.g. scikitlearn and tensorflow) are specialized for very different problems -- you can't fit a recurrent neural net with scikitlearn

[2016-10-15 20:47] sarvghotra commented on #14
@Evizero Do you have any suggestion for a resource to refer for these loss and penalty functions ?

[2016-10-17 21:36] Evizero commented on #14
Sorry for the late reply.

Well my main resource concerning properties has been _Steinwart, Ingo, and Andreas Christmann. Support vector machines. Springer Science & Business Media, 2008_.

Other than that should the issues themself provide the main loss-function that needs to be represented. The other implemented loss functions show how and what is required. I suppose some previous knowledge abou

[2016-12-06 13:24] tbreloff opened #15 "Bayesian Optimization and Gaussian Processes"
I'm sitting here with @bisraelsen at NIPS, and discussing the need for good Bayesian Optimization and Gaussian Processes.  Some quick thoughts:

- wrap [GPFlow python lib](http://gpflow.readthedocs.io/en/latest/)
- use/extend GaussianProcesses.jl
- use BayesOpt.jl (does it need updating?)

I'm just putting this issue out there so we don't forget about the conversation!  Anyone with interest/though

[2017-01-02 12:46] naveenjafer commented on #14
@Evizero Hi, I am getting started with JuliaML and looking to contribute where possible. Is this [page](https://juliaml.github.io/) up to date with the developments that have been carried out recently? I have decent exposure to ML and Neural nets, Looking for a good starter task to explore a little more and also gauge my capabilities realistically. Would be great to have some suggestions for the s

[2017-01-02 18:14] Evizero commented on #14
Hi, welcome! no I don't think we updated the page for a while. Thinks are still moving around a lot, so it is difficult to keep information organized.

Currently a lot is in a limbo transition as I am getting some stuff ready, so some packages like MLMetric, and MLDataUtils are pretty much broken on their master branch until MLLabelUtils is registered and my new LossFunctions additions merged. Kee

[2017-01-02 18:31] ChrisRackauckas commented on #14
On that note, we should think of some GSoC projects. Proposal time will start to be soon.

[2017-01-03 05:08] naveenjafer commented on #14
@Evizero One library that has really caught my attention apart from JuliaML over the past couple of weeks has been [mlpack](http://mlpack.org/about.html). There are quite a few simple api's to start with in mlpack that can be implemented in Julia. How about I start listing out the functionality that is missing in JuliaML currently and I could start working on some of them for starters.

[2017-01-03 11:49] naveenjafer commented on #14
@Evizero Why exactly are [JuliaStats](https://github.com/JuliaStats) and JuliaML maintained separately? There are no overlaps as far as I see from a superficial glance. Would what I would like to implement fit better into JuliaStats? I am interested in exploring a little bit more on what has been done with [K-means](https://github.com/JuliaStats/Clustering.jl) and [KNN neighbours](https://github.c

[2017-01-03 14:53] tbreloff commented on #14
Naveen: partly politics. JuliaStats was established and the members were
not so interested in rebuilding. We wanted to start with a fresh design
that incorporates more than just classic stats.

In the long term, perhaps the orgs will merge...

On Tue, Jan 3, 2017 at 4:49 AM Naveen Jafer <notifications@github.com>
wrote:

[2017-01-03 15:04] Evizero commented on #14
I think a big reason for separate Orgs is that JuliaStats is pretty mature already and thus it is difficult to experiment with changing established things. With JuliaML we have more freedom to try different things, fail here and there, learn from it, improve, and reiterate. On the other hand getting changes into JuliaStats need to be in a good consistent quality right from the get go and thus ther

[2017-01-03 15:08] Evizero commented on #14
I think that sounds a bit harsher than intended. I completely understand that one is reluctant to change things just because people (i.e. us) come up there with visions of what could be (without any hard proof or demonstrated effort). So there is no bad blood between JuliaStats and JuliaML at all I do not think. We just decided to play in our own playground in order to see if we can actually build

[2017-01-03 17:51] ChrisRackauckas commented on #14
I think the bigger thing is vision. JuliaStats is looking to build tools you'd expect from other "Base libraries". I mean, it has some of the old R gurus, and it's looking to implement all of the functionality you'd expect to see from R/Python/MATLAB in terms of statistics/machine learning.

JuliaML is very much a "inspired by Julia" kind of thing. JuliaML is re-designing how to build machine lear

[2017-01-03 18:34] tbreloff commented on #14
Well said Chris. I agree.

On Tue, Jan 3, 2017 at 10:51 AM Christopher Rackauckas <
notifications@github.com> wrote:

[2017-01-03 18:44] naveenjafer commented on #14
@ChrisRackauckas That was really helpful in understanding both better. Thank you. I'll start off with different implementations for the KMeans and then come back here once I get a good hang of Julia.

[2017-02-28 19:12] americast commented on #14
Hello everyone,
  I was planning to build a package which would make the creation of data-providing packages easier (reference: http://julialang.org/soc/projects/general.html#standardized-dataset-packaging).

  I would like to know which problems should I solve next in order to get more acquainted with the project.

Gramercy.

[2017-02-28 19:18] tbreloff commented on #14
@americast I think first step would be to scour the existing packages to know what exists.  See for example: https://github.com/oxinabox/CorpusLoaders.jl.  I think @Evizero might have a package which loads some datasets as well.  You could work on unifying the interface and discovery mechanisms for:

- searching for available datasets
- wrapping existing solutions in a common interface
- add new d

[2017-02-28 20:12] tbreloff commented on #14
Forgot to mention! https://github.com/JuliaML/MLDatasets.jl

[2017-03-01 15:52] tbreloff commented on #14
FYI... I added a link to this issue from the website.  In the future when we are listing ways to contribute to individual parts of the ecosystem, I think it would be a good idea to add a bullet point to the first comment in this issue with a link to an issue in the respective repo.

[2017-03-03 18:21] Evizero commented on #14
What is happening with the GSoC proposals? There are two projects listed under "JuliaML" and I knew of none of them. One even explicitly states my name as mentor, which I was completely unaware of.

Guys, I appreciate everyone wanting to move forward and promote things, but we can't just make promises like that on a whim. While I don't expect to be "in the know" for everything, there should at lea

[2017-03-03 18:26] ChrisRackauckas commented on #14
That seems like it was a mistake that will get cleared up.

https://github.com/JuliaLang/julialang.github.com/commit/581d6d441570b3935f7634518c4d3e7678bd9942

[2017-03-03 18:51] Evizero commented on #14
https://github.com/JuliaLang/julialang.github.com/pull/521

[2017-03-03 20:28] americast commented on #14
@ChrisRackauckas The changes made in https://github.com/JuliaLang/julialang.github.com/commit/581d6d441570b3935f7634518c4d3e7678bd9942 seems to have been reversed by https://github.com/JuliaLang/julialang.github.com/commit/a4e3a12fb4fa4ca1794e342339e09c1f6c220d96. Is John Myles White the mentor for the project on standardised dataset packaging (http://julialang.org/soc/projects/general.html#standa

[2017-03-03 21:17] americast commented on #14
@tbreloff I have started developing the package. I have created a small abstract of the search and download feature here: https://github.com/americast/DataDeps.jl/blob/master/src/DataDeps.jl. I request you to kindly have a look at it. It would be nice if you could tell me which specific features would be better in this regard.

Gramercy.

[2017-03-04 16:11] paulhendricks opened #16 "Move OpenAIGymAPI.jl into JuliaML?"
@tbreloff @Evizero

Would there be any interest in moving OpenAIGymAPI.jl into JuliaML? Instead of calling OpenAI Gym directly it provides a wrapper around their API.

https://github.com/paulhendricks/OpenAIGymAPI.jl

[2017-03-04 16:47] Evizero commented on #16
That looks interesting! The code appears simple enough to maintain. I would be fine with moving it if you are.

To be a little greedy I would ask for tests and an accurate REQUIRE file (Requests.jl with its min version) in order to spot problems using travis and appveyor

[2017-03-04 17:17] tbreloff commented on #16
I would support a move, with the qualification that the recently moved
OpenAIGym.jl is the "official JuliaML wrapper" since that uses
LearnBase/Reinforce abstractions (ie. not a direct wrapper).

It would be good to add a note to that effect in the readme, and to update
the website accordingly.

On Sat, Mar 4, 2017 at 11:47 AM Christof Stocker <notifications@github.com>
wrote:

[2017-03-04 17:25] paulhendricks commented on #16
Both sound good to me! I'll update accordingly and submit a transfer request.

[2017-03-05 01:59] paulhendricks commented on #16
@Evizero @tbreloff

Do either of you guys have any ideas/resources on how to set up / tear down a Python server for unit tests? If not, I'll keep working at it until I figure it out but I figured it was worth asking.

[2017-03-05 10:01] Evizero commented on #16
I don't quite know, but I am guessing one does it in one of two ways

- here with bash commands: https://github.com/paulhendricks/OpenAIGymAPI.jl/blob/master/.travis.yml#L14
- or using something like `PyCall.jl`/`Conda.jl` for the tests.

[2017-03-08 23:23] paulhendricks commented on #16
@Evizero @tbreloff

I've updated https://github.com/paulhendricks/OpenAIGymAPI.jl/ with the updates requested. I'm going to add a couple more unit tests once I get them working. Once I do that, are you guys okay with a transfer request?

[2017-03-09 14:07] Evizero commented on #16
Looking good! yes, sure.

A bit of feedback:

- Please do make sure that you cover all the package functionality with the tests (so the coverage should be around 100 %). Naturally it is not about testing the OpenAI gym itself. just that your package does what it is supposed to and all the julia code executes as expected.
- If the package doesn't support windows (or the tests don't run on windows/a

[2017-03-09 14:28] tbreloff commented on #16
Those are certainly good goals but I don't think they should hold up a
merge/transfer.

On Thu, Mar 9, 2017 at 9:07 AM Christof Stocker <notifications@github.com>
wrote:

[2017-03-09 14:29] Evizero commented on #16
I leave it to you, but we should aim at keeping the packages we host easily maintainable, since the number keeps growing

[2017-03-10 00:41] paulhendricks commented on #16
Awesome feedback, thanks. I got the code coverage up to about 97% and there's still a little bit of testing and implementing to be done but it's trivial.

I'm struggling to get the Windows and Mac builds working but I'm sure I can figure that out.

I'll submit a transfer once everything above is cleared up!

[2017-03-17 02:54] americast commented on #14
​@MikeInnes I am developing the package here: https://github.com/americast/DataDeps.jl (Documentation: https://github.com/americast/DataDeps.jl/wiki). Please have a look. Though the project is in it's infancy now, it would be nice if you would kindly provide some feedback or create issues in the repo. It would help me in making further plans.

Also, just today I came across this package: https://g

[2017-03-17 08:52] Evizero commented on #14
@americast I am sorry that you receive so little feedback, but that is how it goes sometimes. It is a bit unfortunate that JuliaML was listed under mentors for that project proposal since it seems apparent that no member has the time or interested to actually mentor it.

Concerning `MLDataUtils`. As I see it a `DataDeps` package is conceptually completely different, since its role should probably

[2017-03-17 13:24] americast commented on #14
@Evizero Thanx a lot for your response! It's true that `DataDeps` is conceptually completely different. I was wrong in saying that it's purpose is same as `MLDataUtils`. But I guess `DataDeps` should have many of the features of `MLDataUtils`, but they are to be used in am entirely different manner. Hence, I was wondering if starting to build the package from `MLDataUtils` would be a better approa

[2017-03-18 11:57] oxinabox commented on #14
DataDeps shouldn't really do any data segregation; or preprocessing.
Just acquisitions.

It should perhaps do a little Data munging to force the data in to a usable (MLUtils friendly) shape.

But I'm not even sure how much of that should be done by the package,
and how much should be done by the people calling the package.
Eg it is out of scope for it to for example parse Malformed SGML (which is

[2017-03-30 17:46] paulhendricks commented on #16
@tbreloff @Evizero I just transferred. I'll continue to maintain this as the OpenAI REST API updates, and will continue to try to get the Windows AppVeyor build to work.

If all is well and good I think this issue can be closed!

[2017-03-30 17:47] Evizero commented on #16
Glad to hear! Thanks for the effort

[2017-03-30 17:47] #16 closed

[2017-11-03 10:19] trappmartin opened #17 "Sum-Product Networks and Bayesian nonparametrics"
Hi there,

I'm actively developing and maintaining a package on Bayesian nonparametrics in julia:
[BayesianNonparametrics.jl](https://github.com/OFAI/BayesianNonparametrics.jl)
which was presented at a workshop at NIPS in 2015 and actively develop a package on the deep probabilistic model sum-product networks:
[SumProductNetworks.jl](https://github.com/trappmartin/SumProductNetworks.jl)
which I co

[2017-11-03 10:45] Evizero commented on #17
Hi!

This does look like interesting work. What is the motivation behind moving the package from another github organization here may I ask?

A little context: The main issue we have at JuliaML is a having clear connection between packages. There are a couple somewhat overlapping subsets of packages that work well together and follow a common design/theme (defined in LearnBase). For the most part,

[2017-11-03 11:04] trappmartin commented on #17
Hi,

The sum-product networks is currently not in any github organization. Regarding the Bayesian nonparametrics package, I'm planing to rewrite parts as and integrate new models and moving it to JuliaML would potentially increase the visibility of the package on the long run.

I'll have a look at the LearnBase package to see whether it is possible to define the interface of the packages consisten

[2018-01-03 03:37] sbromberger opened #18 "Request from a layperson"
Hi ML gurus,

Forgive me if this is too forward, but I'd like to share an observation and make a request.

One thing that I think Julia needs is a robust, easy-to-use machine learning toolkit focused on end users who are doing data analysis but aren't necessarily ML experts. I'm one of these people. For example, I need to run classification and logistic regression on a set of data to see whether a

[2018-01-03 03:39] datnamer commented on #18
@sbromberger  how about this: https://github.com/cstjean/ScikitLearn.jl

[2018-01-03 03:40] sbromberger commented on #18
@datnamer yes, I've been toying with the idea of using it, but 1) it's a wrapper, so I still need the python infrastructure, and 2) it doesn't seem to be actively developed anymore.

[2018-01-03 03:46] datnamer commented on #18
@sbromberger Yea. Do you use sklearn in python or through pycall? With the new dot overloading the latter might be getting easier.

[2018-01-03 03:48] sbromberger commented on #18
@datnamer - I'm using it in python (which is the part that makes me sad). It's hard for me to justify using a Julia package that wraps software that my colleagues use natively. A pure-Julia implementation of the tools would be easier to rationalize.

[2018-01-03 03:50] datnamer commented on #18
I hear that.

I think a ML toolkit is what this is supposed to be starting on: https://github.com/JuliaML/Learn.jl

Lots of the pieces are already here, and hopefully a big dev boost around 1.0 will make it happen.

But I'll let the experts weight in.

[2018-01-03 03:54] sbromberger commented on #18
Yes - I don't mean to disparage the existing corpus of work or imply that the field is barren. I'm just not quite sure where to go to find the functionality I need, and it's a bit of a hindrance right now that there's not a single one-stop shop for common ML-like tasks.

[2018-01-03 05:38] denizyuret commented on #18
Just look at Knet.jl and its readme / documentation.
On Wed, Jan 3, 2018 at 06:54 Seth Bromberger <notifications@github.com>
wrote:

[2018-01-03 05:42] sbromberger commented on #18
@denizyuret - I did look at Knet and its documentation - it's very impressive, but I couldn't find simple examples of the algorithms I use (DBSCAN and k-means for clustering, for example, along with some random forests for classification). I gather it's more focused on neural networks, and that's a bit too heavy for what I'm trying to do.

[2018-01-03 06:17] denizyuret commented on #18
You are right, Knet is more focused on gradient based methods right now.
Logistic regression from your original list would work.

On Wed, Jan 3, 2018, 08:42 Seth Bromberger <notifications@github.com> wrote:

[2018-01-03 06:23] ChrisRackauckas commented on #18
A one-stop shop is very important IMO. With it, there's a certain branding and trust that can be built. It's hard to trust a lot of these little learning pieces, especially since many of them are built by authors I don't know with small test sets and are rarely updated. But a metapackage's branding gives it the trust of a common governance that will test, maintain, and fix issues unlike you'd expe

[2018-01-03 09:15] Evizero commented on #18
I think the simple truth is that this end-user desire is long known. It's just that no one so far was interested or able to write it.

[2018-01-03 10:58] smldis commented on #18
Consider a Plots.jl like package with all sorts of machine learning backends wrapping not only python ecosystem but also R and julia (and dynamically chosing backend's algorithms), would it solve the problem to justify using a Julia package that wraps software in your environment?

[2018-01-04 03:50] oxinabox commented on #18
I've been linking this post about the internet a lot lately: http://white.ucc.asn.au/2017/12/18/7-Binary-Classifier-Libraries-in-Julia.html
so I suspect you might have seen it @sbromberger.
It shows 7 of the binary classification libraries in julia right now.
and it fits them to a common API: `fit!`, `predict`, with observations in last index.
This would be of interest to you in two ways: first it

[2018-01-04 17:32] sbromberger commented on #18
Thanks, @oxinabox - that's very helpful. I guess I'm not advocating a single package, but rather a single place that will tell me what packages I need.

One thing I've found supremely helpful is the graphic that sklearn has (http://scikit-learn.org/stable/tutorial/machine_learning_map/index.html) - this allows me to select a reasonable tool for the job, and I know that the functionality exists in

[2020-03-21 17:22] juliohm commented on #14
Could you please share the status of the JuliaML organization? I'd really like to get more involved with package development. In particular, I've started using LossFunctions.jl in the GeoStats.jl stack because it is awesome. I have some open issues and pull requests that are taking a bit longer to be addressed than I expected, and so I am here asking.

Can I get more involved somehow? What is the

[2020-03-23 13:44] oxinabox commented on #14
We should determine a process for adding people to the org.
Several people are much less invoved than they were (which is reasonable enough).
And I only touch MLDataUtils stuff, which is not the whole org (and even then only minimal maintaince).

I feel like as a adhoc solution, adding well-known community members, and giving them full permissions, like @juliohm  is reasonable.
And if noone object

[2020-03-27 13:16] oxinabox commented on #14
Because no one has objected, I will be adding @juliohm to the org presently.

@juliohm: the stuff about being responsible I am sure goes without saying.
Try not to merge your own PRs without review. Doesn't hugely need to be someone from the org doing the review, but someone.
I strongly recommend following the [Continuous Delivery practices](https://white.ucc.asn.au/2019/09/28/Continuous-Delivery-

[2020-03-27 13:20] oxinabox commented on #14
@juliohm seems you already are a member and have full permissions on the packages in the org, including LossFunctions.jl

[2020-03-27 13:22] joshday commented on #14
I just added him this morning.  Glad to have you @juliohm!

[2020-03-27 13:39] juliohm commented on #14
Thank you guys! Happy to join! I am also very pedantic with code review and collaborative development, so you can be sure that I will follow the guidelines strictly. 👍